<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Collecting Data on Programming Language using Web Scraping**

Estimated time needed: **30 to 45** minutes

## üéØObjectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

**Extract information from the given web site**
>You will extract the data from the below web site: <br>

In [21]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

<h2>üõ†Ô∏èImport the required libraries</h2>

In [22]:
from bs4 import BeautifulSoup 
import requests
import pandas as pd

<h2>üîçScrap the webpage</h2>

‚û°Ô∏èDownload the webpage at the url

In [23]:
data  = requests.get(url).text

‚û°Ô∏èCreate a soup object

In [24]:
soup = BeautifulSoup(data,"html.parser")

‚û°Ô∏èScrape the entire table

In [25]:
table = soup.find('table')

‚û°Ô∏èConvert the table as a df

In [26]:
df = pd.read_html(str(table), header=0)[0]

In [27]:
df.head()

,No.,Language,Created By,Average Annual Salary,Learning Difficulty
0,1,Python,Guido van Rossum,"$114,383",Easy
1,2,Java,James Gosling,"$101,013",Easy
2,3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
3,4,Javascript,Netscape,"$110,981",Easy
4,5,Swift,Apple,"$130,801",Easy

In [29]:
print(df.columns.tolist())

['No.', 'Language', 'Created By', 'Average Annual Salary', 'Learning Difficulty']

‚û°Ô∏èSelect both columns Language and Average Annual Salary

In [30]:
df = df.drop(['No.', 'Created By', 'Learning Difficulty'], axis=1)
df.head()

     Language Average Annual Salary
0      Python              $114,383
1        Java              $101,013
2           R               $92,037
3  Javascript              $110,981
4       Swift              $130,801

<h2>üìÅSave the scrapped data into a file named *popular-languages.csv*</h2>

In [32]:
df.to_csv('popular-languages.csv', index=False)

print("File saved !")

File saved !

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).