<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Removing Duplicates**

Estimated time needed: **30** minutes

## Introduction

In this lab, you will focus on data wrangling, an important step in preparing data for analysis. Data wrangling involves cleaning and organizing data to make it suitable for analysis. One key task in this process is removing duplicate entries, which are repeated entries that can distort analysis and lead to inaccurate conclusions.

## Objectives

In this lab you will perform the following:

1. Identify duplicate rows  in the dataset.
2. Use suitable techniques to remove duplicate rows and verify the removal.
3. Summarize how to handle missing values appropriately.
4. Use ConvertedCompYearly to normalize compensation data.

### Install the Required Libraries

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 145.9 MB/s eta 0:00:00
Downloading numpy-2.2.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.1/16.1 MB 111.2 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.2.4 pandas-2.2.3 tzdata-2025.2

### Step 1: Import Required Libraries

In [2]:
import pandas as pd

### Step 2: Load the Dataset into a DataFrame

load the dataset using pd.read_csv()

In [3]:
# Define the URL of the dataset
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows to ensure it loaded correctly
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

**Note: If you are working on a local Jupyter environment, you can use the URL directly in the <code>pandas.read_csv()</code>  function as shown below:**

#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

### Step 3: Identifying Duplicate Rows

**Task 1: Identify Duplicate Rows**
  1. Count the number of duplicate rows in the dataset.
  2. Display the first few duplicate rows to understand their structure.

In [6]:
total_duplicate = df.duplicated().sum()
print(total_duplicate)

0

In [9]:
duplicate = df[df.duplicated()]
duplicate.head()

Empty DataFrame
Columns: [ResponseId, MainBranch, Age, Employment, RemoteWork, Check, CodingActivities, EdLevel, LearnCode, LearnCodeOnline, TechDoc, YearsCode, YearsCodePro, DevType, OrgSize, PurchaseInfluence, BuyNewTool, BuildvsBuy, TechEndorse, Country, Currency, CompTotal, LanguageHaveWorkedWith, LanguageWantToWorkWith, LanguageAdmired, DatabaseHaveWorkedWith, DatabaseWantToWorkWith, DatabaseAdmired, PlatformHaveWorkedWith, PlatformWantToWorkWith, PlatformAdmired, WebframeHaveWorkedWith, WebframeWantToWorkWith, WebframeAdmired, EmbeddedHaveWorkedWith, EmbeddedWantToWorkWith, EmbeddedAdmired, MiscTechHaveWorkedWith, MiscTechWantToWorkWith, MiscTechAdmired, ToolsTechHaveWorkedWith, ToolsTechWantToWorkWith, ToolsTechAdmired, NEWCollabToolsHaveWorkedWith, NEWCollabToolsWantToWorkWith, NEWCollabToolsAdmired, OpSysPersonal use, OpSysProfessional use, OfficeStackAsyncHaveWorkedWith, OfficeStackAsyncWantToWorkWith, OfficeStackAsyncAdmired, OfficeStackSyncHaveWorkedWith, OfficeStackSyncWantToWorkWith, OfficeStackSyncAdmired, AISearchDevHaveWorkedWith, AISearchDevWantToWorkWith, AISearchDevAdmired, NEWSOSites, SOVisitFreq, SOAccount, SOPartFreq, SOHow, SOComm, AISelect, AISent, AIBen, AIAcc, AIComplex, AIToolCurrently Using, AIToolInterested in Using, AIToolNot interested in Using, AINextMuch more integrated, AINextNo change, AINextMore integrated, AINextLess integrated, AINextMuch less integrated, AIThreat, AIEthics, AIChallenges, TBranch, ICorPM, WorkExp, Knowledge_1, Knowledge_2, Knowledge_3, Knowledge_4, Knowledge_5, Knowledge_6, Knowledge_7, Knowledge_8, Knowledge_9, Frequency_1, Frequency_2, Frequency_3, TimeSearching, TimeAnswering, Frustration, ProfessionalTech, ProfessionalCloud, ProfessionalQuestion, ...]
Index: []

[0 rows x 114 columns]

✨ No duplicates ! df is already clean ! ✨

### Step 4: Removing Duplicate Rows

**Task 2: Remove Duplicates**
   1. Remove duplicate rows from the dataset using the drop_duplicates() function.
2. Verify the removal by counting the number of duplicate rows after removal .

In [11]:
df_sans_doublons = df.drop_duplicates(keep='first')
print("Shape of original DataFrame :", df.shape)
print("Shape after dropping duplicates :", df_sans_doublons.shape)

Shape of original DataFrame : (65437, 114)
Shape after dropping duplicates : (65437, 114)

✨No duplicate removed, df was already cleaned for duplicates✨

### Step 5: Handling Missing Values

**Task 3: Identify and Handle Missing Values**
   1. Identify missing values for all columns in the dataset.
   2. Choose a column with significant missing values (e.g., EdLevel) and input with the most frequent value.

In [13]:
# Nombre de NaN par colonne
nombre_nan_par_colonne = df.isna().sum()
print(nombre_nan_par_colonne)

ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

In [14]:
# Découper l'affichage des NaN par groupe de 10 colonnes
batch_size = 10  # Nombre de colonnes par groupe

for i in range(0, len(df.columns), batch_size):
    # Sélectionner un groupe de colonnes
    subset_cols = df.columns[i:i + batch_size]
    print(f"Colonnes {i + 1} à {min(i + batch_size, len(df.columns))} :")
    
    # Nombre de NaN par colonne dans ce groupe
    print(df[subset_cols].isna().sum())
    print("\n")  # Espacement entre les groupes pour plus de lisibilité

Colonnes 1 à 10 :
ResponseId              0
MainBranch              0
Age                     0
Employment              0
RemoteWork          10631
Check                   0
CodingActivities    10971
EdLevel              4653
LearnCode            4949
LearnCodeOnline     16200
dtype: int64


Colonnes 11 à 20 :
TechDoc              24540
YearsCode             5568
YearsCodePro         13827
DevType               5992
OrgSize              17957
PurchaseInfluence    18031
BuyNewTool           20256
BuildvsBuy           22079
TechEndorse          21769
Country               6507
dtype: int64


Colonnes 21 à 30 :
Currency                  18753
CompTotal                 31697
LanguageHaveWorkedWith     5692
LanguageWantToWorkWith     9685
LanguageAdmired           14565
DatabaseHaveWorkedWith    15183
DatabaseWantToWorkWith    22879
DatabaseAdmired           26880
PlatformHaveWorkedWith    23071
PlatformWantToWorkWith    30905
dtype: int64


Colonnes 31 à 40 :
PlatformAdmired           34060
WebframeHaveWorkedWith    20276
WebframeWantToWorkWith    26902
WebframeAdmired           30494
EmbeddedHaveWorkedWith    43223
EmbeddedWantToWorkWith    47837
EmbeddedAdmired           48704
MiscTechHaveWorkedWith    25994
MiscTechWantToWorkWith    32473
MiscTechAdmired           35841
dtype: int64


Colonnes 41 à 50 :
ToolsTechHaveWorkedWith           12955
ToolsTechWantToWorkWith           19353
ToolsTechAdmired                  21440
NEWCollabToolsHaveWorkedWith       7845
NEWCollabToolsWantToWorkWith      13350
NEWCollabToolsAdmired             14726
OpSysPersonal use                  7263
OpSysProfessional use             12464
OfficeStackAsyncHaveWorkedWith    17344
OfficeStackAsyncWantToWorkWith    26471
dtype: int64


Colonnes 51 à 60 :
OfficeStackAsyncAdmired          28233
OfficeStackSyncHaveWorkedWith     9892
OfficeStackSyncWantToWorkWith    18726
OfficeStackSyncAdmired           20725
AISearchDevHaveWorkedWith        20984
AISearchDevWantToWorkWith        28736
AISearchDevAdmired               29894
NEWSOSites                        5151
SOVisitFreq                       5901
SOAccount                         5877
dtype: int64


Colonnes 61 à 70 :
SOPartFreq                   20200
SOHow                         6475
SOComm                        6274
AISelect                      4530
AISent                       19564
AIBen                        28543
AIAcc                        28135
AIComplex                    28416
AIToolCurrently Using        30365
AIToolInterested in Using    34746
dtype: int64


Colonnes 71 à 80 :
AIToolNot interested in Using    41023
AINextMuch more integrated       51999
AINextNo change                  52939
AINextMore integrated            41009
AINextLess integrated            63082
AINextMuch less integrated       64289
AIThreat                         20748
AIEthics                         23889
AIChallenges                     27906
TBranch                          20960
dtype: int64


Colonnes 81 à 90 :
ICorPM         35636
WorkExp        35779
Knowledge_1    36773
Knowledge_2    37416
Knowledge_3    37342
Knowledge_4    37407
Knowledge_5    37557
Knowledge_6    37573
Knowledge_7    37659
Knowledge_8    37679
dtype: int64


Colonnes 91 à 100 :
Knowledge_9             37802
Frequency_1             37068
Frequency_2             37073
Frequency_3             37727
TimeSearching           36526
TimeAnswering           36593
Frustration             37186
ProfessionalTech        37673
ProfessionalCloud       36946
ProfessionalQuestion    36630
dtype: int64


Colonnes 101 à 110 :
Industry           36579
JobSatPoints_1     36113
JobSatPoints_4     36044
JobSatPoints_5     36026
JobSatPoints_6     35987
JobSatPoints_7     35989
JobSatPoints_8     35981
JobSatPoints_9     35981
JobSatPoints_10    35987
JobSatPoints_11    35992
dtype: int64


Colonnes 111 à 114 :
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
dtype: int64

In [18]:
#identify the most frequent value of EdLEvel
most_freq_value_EdLevel = df['EdLevel'].mode()[0]  #add [0] to extract the first value and not an object or complex string 
most_freq_value_EdLevel

'Bachelor’s degree (B.A., B.S., B.Eng., etc.)'

In [19]:
#Replace NaN by most_frequent value for EdLevel
df['EdLevel'].fillna(value=most_freq_value_EdLevel, inplace=True)
#check for NaN after removal
print(df['EdLevel'].isna().sum())

0

### Step 6: Normalizing Compensation Data

**Task 4: Normalize Compensation Data Using ConvertedCompYearly**
   1. Use the ConvertedCompYearly column for compensation analysis as the normalized annual compensation is already provided.
   2. Check for missing values in ConvertedCompYearly and handle them if necessary.

🔍ConvertedCompYearly counts 42002 NaN and CompTotal counts 31697 NaN (see above screening of NaN on full 114 columns)

In [20]:
#check the data type for 'ConvertedCompYearly'
df['ConvertedCompYearly'].dtypes

dtype('float64')

In [22]:
#calculate the mean()
average_comp = df['ConvertedCompYearly'].mean()
average_comp

np.float64(86155.28726264134)

In [24]:
#replace NaN by average_comp
df['ConvertedCompYearly'].fillna(value=average_comp, inplace=True)
#check for NaN after removal
print(df['ConvertedCompYearly'].isna().sum())

0

/tmp/ipykernel_299/1354665217.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ConvertedCompYearly'].fillna(value=average_comp, inplace=True)

### Step 7: Summary and Next Steps

**In this lab, you focused on identifying and removing duplicate rows.**

- You handled missing values by imputing the most frequent value in a chosen column.

- You used ConvertedCompYearly for compensation normalization and handled missing values.

- For further analysis, consider exploring other columns or visualizing the cleaned dataset.

In [25]:
#visualize cleaned dataset
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86155.287263,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,86155.287263,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,86155.287263,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,86155.287263,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,86155.287263,NaN

<!--
## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11-05|1.2|Madhusudhan Moole|Updated lab|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

--!>

Copyright © IBM Corporation. All rights reserved.